<h1>About Tulane University Course Recommender</h1>
<br />
<p>Tulane University Course Recommender is a student built resource meant to help students with selecting courses each semester.
    Here, you can search courses by major or interests and the recommender will generate courses it thinks might interest you.
    The course recommender is meant to be used in conjunction with the course registration service located at
    <a href="https://gibson.tulane.edu/">Tulane's Course Registration</a>.</p>
   <img src="/images/TU_Campus1.jpg" class = 'about_img' alt="A Bird's Eye View of Tulane University" />
    <br/>