<div class="course">
  <h2><%= course.name %></h2>
  <div class="details">
    <%=course.major_code  + '-' + course.course_code  + '-' + course.section %></td>
    <%=course.credits %></td>
  </div>
</div>
<br/>