/*
 * Simple CSS stylesheet for a navigation bar and flash messages.
 */
main {
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  font-family: 'Big Caslon', sans-serif;
  }
.navbar-link{
  color: white;
}
a:link,a:visited,a:hover,a:active{ /*link states*/
  /*color: black;*/
  text-decoration: none;
}        
a:active{
  color: blue;
}
a:hover{
  color: grey;
}
navbar-link, header {
  border: 1px solid #d4d4d4;
  /*background-image: linear-gradient(to bottom, green, #003306);*/
  /*background-color: #f9f9f9;*/
  background-color: #046A38;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  /*font-size: 30px;*/
  color: #f9fbfa;
  padding: 5px 10px 5px;
  /*letter-spacing: 0.5px;*/
}
.form-group{
  font-family: 'Big Caslon', sans-serif;
}
h1, h2, h3, h4{
    font-family: 'Big Caslon', sans-serif;
}
 p, li, ul, ol, a{
    font-family: 'Big Caslon', sans-serif;
 }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
table, th, td{
    font-family: 'Big Caslon', sans-serif;
    font-size: 12px;
    border: 1px solid white;
    border-collapse: collapse;
    text-align:left;
    vertical-align: bottom;
    padding: 10px;
}
table{
  width: 100%;
}

th {
    height: 30px;
}
u.nav {
  color: white;
}
ul.nav li {
  display: inline;
  position: relative;
}
ul.nav li a {
  padding: 5px 10px 5px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 0px;
  /*text-shadow: 0 1px 0 white;*/
}
/*
ul.nav li a : hover{
  color: #444;

}*/



.signin,.signup{    
    padding: 10px 10px 10px;
    /*float: right;*/
    font-size: 14px;
    /*justify-content: flex-end;*/
    /*margin: 10px;*/
    display: inline-block;
    /*float: right;*/
}
/*ul.signin li, ul.signup li {
    /*display: inline;*/
    /*color: #f9fbfa;*/
  /*padding: 5px 10px 5px;*/
    /*justify-items: end; */
/*}*/

/*ul.signin li a, ul.signin li a {
  
  color: #f9fbfa;
  text-decoration: none;
  float: right
  
}
*/
.background_box{
  width: 800px;
  height:800px;
  background: rgba(0,0,0,0.4);
}



/*
.flash_notice, .flash_alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.flash_notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.flash_alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
*/
