<!-- Footer -->

<footer class="page-footer font-small blue fixed-bottom">
  
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright: <br/>
      Christopher Louviere, Elizabeth Weathersby, Noah Hendlish, Siyang Hu
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->