<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
  <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>  
  <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
  <% end %>
      <% end %>
  <!-- <Percent_sign= content_tag :div, msg, :class => "flash_#{name}" %>-->
<% end %>

